@{
    ViewData["Title"] = "Startsida";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <h2>Sök på en Pokemon!</h2>
    <form method="POST" action="@Url.Action("Index", "Home")">
        <label>
            Namn eller id:
            <input type="text" name="Namn" value="" placeholder="Sök på Pokemon" />
        </label>
        <input type="submit" value="Sök" />
    </form>
    </br>
</div>
</br>
@if (ViewBag.Message is null)
{

    <h5>@ViewBag.FelMed</h5>
}
